


html {
    display:flex;
    justify-content:  center;


}

body{background-image: url(imgs/stelios-kazazis-21404-unsplash.jpg);
background-repeat:no-repeat;
background-position: center;
background-size:cover ;
height: 100%;
margin:0;
padding:35px;
font-family: Source Sans Pro;
z-index: 2;}
/* Header------------------ Section*/
 
#topImageContainer{
    text-align:center;


}
header {
    background-image:url(imgs/jason-blackeye-265661-unsplash.jpg);
    background-size: cover;
    background-position-y:-2%;
    height: 400px;
    width: 78%;
    margin-left:12%;
    font-family: sans-serif;
 }

 header h1{
    padding-top: 2%;
    color:rgb(22, 21, 19);
    text-shadow:  0px 4px 3px rgba(0,0,0,0.1),
    0px 8px 13px black,
    0px 18px 23px rgba(1,1,1,0.1);

 }

 
 /*Header--------------------Section-----*/
/* About--------------------------------- SPCS */

 .about-Spcs {
    width:100%; 
    background-color: rgba(0,0,0,0.2);

 }

 .about-Spcs:after{
    content: '';
    display:block;
    clear:both;


 }
 .about-Spcs h2 {
    text-align:center;
    color: black;
    font-family:sans-serif;
    text-shadow:  0px 4px 3px rgba(0,0,0,0.1),
    0px 8px 13px black,
    0px 18px 23px rgba(1,1,1,0.1);
    padding-top: 10%;
}


 

 .about-Spcs h4{
    color:antiquewhite;
    text-shadow:  0px 4px 3px rgba(0,0,0,0.1),
    0px 8px 13px black,
    0px 18px 23px rgba(1,1,1,0.1);
 }

 
.about-Spcs p {

        color:antiquewhite;
        font-family:sans-serif;
        text-shadow:  0px 4px 3px rgba(0,0,0,0.1),
        0px 8px 13px black,
        0px 18px 23px rgba(1,1,1,0.1);
            }

            



    
 .about-Spcs .col-left,.about-Spcs .col-right {

    width: 50%;
    float:left;
    padding: 5%;
} 

.about-Spcs .col-left img {
    
    max-width:100%;

}

/* ************ Our Products & Services Section********* */

.brand-Offerings{
    background-color: rgba(0,0,0,0.2);
    text-align:center;

}
.brand-Offerings h2{

    color:antiquewhite;

}

.brand-Offerings:after{
    content:'';
    display:block;
    clear: both;


}

.brand-Offerings .offering-left, .brand-Offerings .offering-center, .brand-Offerings .offering-right{
    
    display:inline-block;
    width: 33.333333333%;
    float: left;
    padding-top:60px;
    padding-bottom:60px;
    color: antiquewhite;

}
.fas, .fa-puzzle-piece {
    color: darkred;
    font-size:100px;
}

.fab, .fa-js {
    color: yellow;
    font-size:100px;

}

/* Media ---------------------Query*/ /*Should come after initial styles*/

@media only screen and (max-width:640px){
    .about-Spcs
    {
        width: 650px;
    
    }
     .about-Spcs {
             margin-left: 400px;
    }
    
     .brand-Offerings{
         
            margin-left:400px;
     }
     
      header {
            margin-left:47%;
            width:500px;
            
          
      }
    
    
}
