
/* Mobile styles go first, without media queries. */

@media only screen and (min-width: 310px) and (max-width:1400px) { section {
   width:430px;
   margin-bottom: 100px;
   



}
}
@media only screen and (min-width: 300px)
{

    {
       
       
    }




}




    /* Larger mobile styles (wider than 320 pixels) */


@media only screen and (min-width: 600px) { .myImg1 ,.Title{



}
    /* Tablet styles (wider than 600 pixels) */
}

@media only screen and (min-width: 1024px) {
    /* Large laptop styles (wider than 1024 pixels) */
}

@media only screen and (min-width: 1140px) {
    /* Desktop styles (wider than 1140 pixels) */
}

*{

margin:0;
padding:0;

}

body {
  background: black;
  background-image: url(imgs/bg\ city.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  line-height: 1;
  margin-right: 25%;
  margin-left: 18%;
  max-width: 600px;
  width: 28em;

}
/* Header */
body a {text-decoration: none;}






#container-box{
display:flex;
flex-direction: column;
flex-flow: column wrap;
align-items:stretch;


width:100%;



}



 






#dateString {

    position: absolute;
    color:greenyellow;
    left: 4%;
    top:20%;

}




ul {
    
background-color:darkred;
opacity:0.75 ;
    
    
    




}







 

    





   
   
   


ul li  {

    list-style: none;
    
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.9em;
    
    margin-left:45px;
    
    
    
}

ul li a{

    
    
    color: white;
    text-decoration: none;
    padding: px;

    
    
    
    

    
    

}
.completeWrapperBox div{

 max-width: 703px;

 min-width: 400px;
 margin-top:20px;
 
 }

 .completeWrapperBox {
     height:auto;
     width: 80%;
     margin-left: 10%;
     
     
     
     
     
     
     
     
     
     
     
     
     
    }
    .navbar {
display: inline;

    }


/* This is a psuedo selector(state)*/
ul li a:link{
    color: white;
}
ul li a:hover{


    
    color: red;
    
}

a{text-decoration: none;}

.mainHeader {

    
    text-align:left;
    margin-left:auto;
    position:relative;
    right:100px;
   
    height:auto;
    
    
}
#mainMenu{



}


img{

    
   height:auto;
}
.myImg1{
   
   width:85%;
   max-width: 400px;

   height:auto;
   border: 10px solid black; background: whitesmoke;
   border-radius: 30%;
   padding: 30px;
   position: relative;
   left: 25%;
   flex-grow: 1;

  

   
   
   

}
.myImg1:hover{

    
}

#home { border: 10px solid black;
    background-image: url();
    background:black;opacity: 0.9;
    padding: 100px;
    padding-bottom: 300px;
    border-radius: 15%;
    margin-right:auto;
    
    margin-top: 10%;
    position: relative;
    text-align: center;
    line-height: 1.5em;
 
    
   
    overflow: hidden;
   
    

}


.jsPic{
  height: auto;
  width: 20%;
  padding: 3px;

}


#main{
    border: 10px solid black;
    border-radius: 20%;
    background:rgba(0,0,0,0.9); 
    margin-right: 700px;
    text-align: center ;
    padding: 50px;
    padding-right:100px;
    margin-top: 10px;
    width:100%;
    height: 900px;
    
    opacity: 0.9;
    
    
   
}

.Title:hover{
  color: rgb(255, 60, 11);

}

.Title {

    background-image: url(imgs/Dante\ the\ Warrior\ coming\ \ soon.jpg);
    color:rgb(168, 0, 0);
    border: 30px solid black;
    border-radius:20%;
    font-family:  'Dancing Script', cursive;
    display: inline;
    background-position: top left;
    font-size:  2.1em;
    text-decoration: none;
    opacity: 0.9;
    position:relative;
    left:40%;

}
i{
    font-size: 50px;
    position: relative; 
    left: 100px;
    bottom:50px;
    margin-left: 30px;
    
}
i:hover{
   color: greenyellow;
   font-size: 4em;

}
p {
 color:white;

}
.logo {
 width: 100%;
 box-sizing: border-box;
 position: relative;
 top:200px;
 border: 10px solid black;
 border-radius: 10%;
 height: 600px;
 margin-bottom: 145px;

}
.Github{
margin: 0;
padding: 0;
position: absolute;
left: 40px;
font-size: 1em;
color: mediumslateblue;


}
.fB{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 160px;
    font-size: 1em;
    color: skyblue;

}
.linkedin {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 280px;
    font-size: 1em;
    color: darkcyan;
    

}


h2{

    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
h3 {

    color:darkred;
}
h1{
 color: darkred;
 font-size: 1.5em;

}


p{ color: whitesmoke;

}

.fa-github {
    padding-right: 20px;
    position: absolute;
    left: 10px;
    top: 30px;
    color: black;
    text-shadow:  0px 4px 3px rgba(0,0,0,0.1),
0px 8px 13px black,
0px 18px 23px rgba(1,1,1,0.1);
    }
.fa-facebook-f {
    padding-right: 20px;
    position: absolute;
    left:150px;
    top: 30px;
    color: black;
   text-shadow:  0px 4px 3px rgba(0,0,0,0.1),
0px 8px 13px black,
0px 18px 23px rgba(1,1,1,0.1);

     }
.fa-linkedin-in{
    padding-right: 8px;
    position: absolute;
    left:260px;
    top: 30px;
    color: black;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
0px 8px 13px black,
0px 18px 23px rgba(1,1,1,0.1);

}    

    


.Icons {
 padding-top: 80px;
 border: 10px solid white; opacity: 0.9; 
 border-radius: 5%;
 background: whitesmoke;
 padding-bottom:40px;
 margin-bottom: 100px;
 position: relative;
 left: 3.7em;
 
 font-size: 1em;
 font-family: cursive;
 margin-right: 100px;
 margin-left: 13px;
 padding-left: 40px;
 padding-right: 20px;
 width: 20%;
 height: auto;

}





   













.lastfooter{

background:black; opacity: 0.9;
position: relative;
top:900px;
width: 400px;
height: 300px;
margin-bottom: 20%;


}













 














 


